body{
    font-size:13px;
}

.app-sidebar__heading {
    color: #59B210;
}

.search-wrapper .input-holder .search-icon span::after {
    border: 2px solid #59B210;
}

.search-wrapper .input-holder .search-icon span::before {
    background: #59B210;
}
